<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Hello ABC</h1>
    <form action="/setup-profile" method="POST">
      <button type="submit">Setup Profile</button>
    </form>
    <br />
    <form action="/setup-persitent-menu" method="POST">
      <button type="submit">Setup Persitent Menu</button>
    </form>

    <form action="/get-id-image" method="POST">
      <button type="submit">Get ID Image</button>
    </form>
  </body>
</html>
